.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
  /* background-color: #6d3d6d; */
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  /* display: flex; */
}

@media (max-width: 600px) {
  .modal {
    width: 100%;
    height: 50%;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-1);
  }
}

.mainmodal {
  background-color: #3c1f3c;
}

.mainmodal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid gray;
}

.row2 {
  width: 100%;
  margin-bottom: 5%;
}

.row3 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.text {
  width: 100%;
  height: 10vh;
  padding: 0% 3%;
  margin-bottom: 1%;
  box-sizing: border-box;
  background: #3c1f3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.button {
  width: auto;
  padding: 3% 3% 1%;
  box-sizing: border-box;
  margin: 1% 1%;
  background: #3c1f3c;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  transform: scale(1.1);
}

.listbox {
  margin: 0% 3%;
}

.listbox .button {
  padding: 3% 0%;
}

.listbox_text {
  width: auto;
  padding-left: 1%;
  background: #3c1f3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}