.bodyContainer {
  display: flex;
  justify-content: space-between;
}
.addButton {
  margin: 5% 5%;
  background: #3c1f3c;
  color: white;
  border: 0;
  padding: 1% 2%;
  display: block;
  font-size: 1.5em;
  border-radius: 50%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.addButton:hover{
  transform: rotateY(180deg);
}

.searchField {
  width: 50%;
  padding: 0 5%;
  box-sizing: border-box;
  border-radius: 50px;
  margin: 5% 5%;
  background: #3c1f3c;
  color: #fff;
  border: 0;
  font-size: 1.15em;
}
